<ion-view title="Vos promotions" class="card-bg">

  <ion-content has-header="true" padding="true">

      <div class="list card">
          <div class="item">
              <h2>{{offer.name}}</h2>
              <p>Expiration à la date du {{offer.enddate | date:'EEEE, MMMM d y'}}</p>
          </div>
          <div class="item item-body">
              <img class="full-image" src="img/static_qr_code.jpg">
              <p>Présentez ce code pour porfiter de cette promotion</p>
              <button class="button button-block button-light" ui-sref="app.store-locator">
                 Trouver un restaurant
              </button>

          </div>
      </div>

  </ion-content>

</ion-view>
